buffers {
  size_kb: 65536
  fill_policy: RING_BUFFER
}

# Capture for AT MOST 30 seconds
duration_ms: 30000

# Enable periodic flushing of the trace buffer into the output file.
write_into_file: true

# Writes the userspace buffer into the file every .5 seconds.
file_write_period_ms: 500

# Commits the trace from the shared memory buffer to the central buffer
# periodically. Otherwise, the --full-sort option will be required for
# trace_processor_shell and traceconv when importing the trace.
flush_period_ms: 500

compression_type: COMPRESSION_TYPE_DEFLATE


# GPU renderstages
data_sources {
  config {
    name: "gpu.counters.msm"
    gpu_counter_config {
      counter_period_ns: 100000
    }
  }
}

data_sources {
  config {
    name: "gpu.renderstages.msm"
  }
}

data_sources {
  config {
    name: "gpu.renderstages"
  }
}

data_sources {
  config {
    name: "gpu.memory.msm"
  }
}